@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin:0;
    padding:0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}


body{
  background-color: #b8c6db;
  background-image:url("./372497220822568.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.quiz-container{
  background-color: #fff;
  opacity: 0.6;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}
.quiz-header{
  padding: 4rem;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li:hover {
    background-color: #cc6c9f;
}

ul li label{
  cursor: pointer;
}
button{
  background-color: #03cae4;
  color: #000;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover{
  background-color: #dc7676;
}
button:focus{
  outline: none;
  background-color: #eeff00;
}



